$color-primary: #e67e22;
$color-primary-dark-1: #cf711f;
$color-primary-light-1: #fdf2e9;
$color-primary-light-2: #fae5d3;

$color-white: #fff;

$color-black: #000;

$color-gray-dark-1: #555;
$color-gray-dark-2: #333;
$color-gray-dark-3: #888;