$color-primary: #e67e22;
$color-primary-dark-1: #cf711f;
$color-primary-light-1: #fdf2e9;
$color-primary-light-2: #fae5d3;

$color-green-light-1: #51cf65;

$color-lime-light-1: #94d82d;

$color-yellow-light-1: #ffd43b;

$color-white: #fff;

$color-black: #000;

$color-gray-dark-1: #555;
$color-gray-dark-2: #333;
$color-gray-dark-3: #888;
$color-gray-dark-4: #6f6f6f;