$color-white: #fff;
$color-black: #000;
$color-gray-dark-1: rgb(85, 85, 85);
$color-gray-dark-2: rgb(75, 75, 75);
$color-gray-dark-3: rgb(51, 51, 51);
$color-gray-light-1: rgb(139, 139, 139);
$color-gray-light-2: rgb(222, 222, 222);

$color-primery: #E67E22;
$color-primery-dark: #dd6f0e;
$color-important: rgb(79, 43, 145);