.header {
    grid-column: center-start / center-end;
    grid-row: 1 / 2;
    z-index: 10;
    margin-top: 5rem;

    &__logo {
        width: 10rem;
        height: 10rem;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        margin-left: 2rem;
    }

    &__link {
        color: $color-white;
        font-weight: 500;
        font-style: italic;
        position: relative;
        padding-bottom: 5px;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            opacity: 0;
            background-color: $color-primery;
            transition: all .5s;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}