.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary-light-1;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;

    &__menu {
        @include respond(tablet) {
            background-color: rgba(255, 255, 255, .5);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            transform: translateX(100%);

            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s;

            opacity: 0;

            pointer-events: none;

            visibility: hidden;
        }
    }

    @include respond(landtablet) {
        padding: 0 3.2rem;   
    }

    &__logo {
        height: 2.2rem;
    }

    &__list {
        display: flex;
        gap: 4.8rem;
        align-items: center;

        @include respond(landtablet) {
            gap: 3.2rem;
        }

        @include respond(tablet) {
            flex-direction: column;
            gap: 4.8rem;
        }
    }

    &__link:link,
    &__link:visited {
        display: inline-block;
        color: $color-gray-dark-2;
        font-weight: 500;
        font-size: 1.8rem;
        transition: color .4s;

        @include respond(tablet) {
            font-size: 3rem;
        }

        &:hover {
            color: $color-primary;
        }
    }

    &__link--active:link,
    &__link--active:visited {
        font-weight: 500;
        font-size: 1.8rem;
        display: inline-block;
        padding: 1.2rem 2.4rem;
        border-radius: 9px;
        color: $color-white;
        background-color: $color-primary;
        transition: all .4s;

        &:hover {
            background-color: $color-primary-dark-1;
        }
    }
}

.nav-open .header__menu {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
}

.btn__mobile--nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;

    @include respond(tablet) {
        display: block;   
    }
}

.icon__mobile--nav {
    height: 4.8rem;
    width: 4.8rem;
    color: $color-gray-dark-2;
}

.icon__mobile--nav[name="close-outline"] {
    display: none;
}

// .nav-open .icon__mobile--nav[name="close-outline"] {
//     @include respond(tablet) {
//         display: block;   
//     }
// }

@include respond(tablet) {
    .nav-open .icon__mobile--nav[name="close-outline"] {
        display: block;
    }      
}

@include respond(tablet) {
    .nav-open .icon__mobile--nav[name="menu-outline"] {
        display: none;
    }      
}

.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, .97);
    z-index: 100;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, .06);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}