.btn-active-header {
    @include btn;
    border: 1px solid $btn-colors;
    background-color: $btn-colors;
    transition: all .4s;

    &:hover {
        background-color: $btn-colors-hover;
    }
}

.btn-deactive-header {
    @include btn;
    border: 1px solid $btn-colors;
    color: $btn-colors;
    margin-left: 10px;
    transition: all .4s;

    &:hover {
        color: white;
        background-color: $btn-colors-hover;
    }
}
