.city-box{
    padding: 80px 0px;
    height: 70vh;
    margin-bottom: 70px;

    .my-row h2{
        @include header-text;
        margin-bottom: 60px;

        &::after{
            @include header-text-after;
        }
    }

    .first-col-city {
        img{
            width: 100%;
            height: auto;
        }

        h5{
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        h3{
            font-size: 1.3rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 20px 0px;
        }

        .icons{
            color: $btn-colors-hover;
            font-size: 1.4rem;
            display: inline-block;
        }

        .link{
            color: $btn-colors;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

