.download-app{
    background-color: $background;
    height: 100vh;
    padding-top: 80px;

    .download-app-header{
        @include header-text;
        
        &::after{
            @include header-text-after;
        }
    }

    .iphone{
        width: 40%;
        height: auto;
    
        img{
            width: 100%;
            height: 100%;
        }
    }

    .right-group{
        display: flex;
        align-items: center;
        height: 80px;
        margin-bottom: 45px;

        div{
            color: $btn-colors;
            font-size: 150%;
            height: 54px;
            width: 54px;
            border: 2px solid $btn-colors;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 30px;
            padding: 5px;
        }

        p{
            text-align: left;
            font-size: 1.3rem;
            font-family: 'marckscript';
        }
        
    }

    .rbid{
        display: inline-block;
        width: auto;
        height: 56px;
        margin-left: 10px;
        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
        }
    }
}

