header {
    background: linear-gradient(rgba(0,0,0, .7), rgba(0,0,0, .6)),url(../assets/img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .hero-box-text {
        position: absolute;
        width: 1140px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
            color: white;
            font-size: 3.7rem;
            word-spacing: 4px;
            letter-spacing: 2px;
            line-height: 120%;
            font-family: 'rajdhani';
            font-weight: 500;
            text-transform: uppercase;
        }
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        height: 140px;
        align-items: center;

        .logo {
            width: 100px;
            height: 100px;
    
            img {
                width: 100%;
                height: 100%;
            }
        }

    .nav-header nav ul{
        display: flex;
        justify-content: space-between;
        width: 600px;

        a{
            color: white;
            font-size: 1.7rem;
            font-weight: 100;
            font-family: 'marckscript';
            position: relative;
            border-bottom: 3px solid transparent;
            padding-bottom: 2px;
            transition: border-bottom .4s;

            &:hover{
                border-bottom: 3px solid $btn-colors;
            }
        }
    }

    }
}

