.sign-up{
    background-color: $background;
    height: 100vh;

    .sign-up-box-header{
        @include header-text;
        padding-top: 50px;
        
        &::after{
            @include header-text-after;
        }
    }

    .signup-box{
        background-color: white;
        margin: 0px 20px;
        padding: 18px;
        font-family: 'zen';

        h1{
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 1.5rem;
            color: #bbb;
        }

        p{
            color: black;
        }

        .price{
            color: $btn-colors;
            margin-bottom: 10px;

            .num{
                font-size: 3.2rem;
            }
        }

        .signup-box-main{
            margin: 50px 0px;

            h3{
                font-size: 1.4rem;
                line-height: 150%;

                i{
                    color: $btn-colors;
                    margin-right: 8px;
                    font-size: 1rem;
                }
            }
        }

        .signup-box-footer{
            text-align: center;
        }
    }
}
