.btn {
    font-size: 2rem;
    padding: 1.5rem 3rem;
    border-radius: 30px;
    font-weight: 500;

    &--primery {
        background-color: $color-primery;
        color: $color-white;
        transition: all .5s;

        &:hover {
            background-color: $color-primery-dark;
        }
    }

    &--transparent {
        background-color: transparent;
        color: $color-primery;
        border: 1px solid $color-primery;
        transition: all .5s;

        &:hover {
            background-color: $color-primery-dark;
            color: $color-white;
        }
    }
}