.city {
    grid-column: full-start / full-end;
    background-color: $color-white;
    padding: 10rem 0;

    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

    &__header {
        grid-column: center-start / center-end;
    }

    &__boxes {
        grid-column: full-start / full-end;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;

        @include respond(laptop) {
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        }

        @include respond(phone) {
            font-size: 2.5rem;
        }
    }

    &__box {
        &--img {
            width: 100%;
        }

        &--header {
            font-size: 2.5rem;
            font-weight: 300;
            text-transform: uppercase;
            padding: 2rem 0;
        }

        &--info {
            font-size: 1.8rem;

            h4 {
                margin-bottom: 1rem;

                i {
                    color: $color-primery;
                    margin-right: 1rem;
                }

                a {
                    color: $color-primery;
                    border-bottom: 2px solid $color-primery;
                    padding-bottom: .4rem;
                }
            }
        }
    }
}