.meals {
    padding: 9.6rem;
    &__meal {
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
        border-radius: 11px;
        overflow: hidden;
        transition: all .4s;

        &:hover {
            transform: translateY(-1.2rem);
            box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
        }

        &--img {
            width: 100%;
        }
        
        &--content {
            padding: 3.2rem 4.8rem 4.8rem 4.8rem;
        }
        
        &--tags {
            margin-bottom: 1.2rem;
            display: flex;
            gap: .4rem;
        }

        &--tag {
            display: inline-block;
            padding: .4rem .8rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $color-gray-dark-2;
            border-radius: 100px;
            font-weight: 600;

            &-vegetarian {
                background-color: $color-green-light-1;
            }

            &-vegan {
                background-color: $color-lime-light-1;
            }

            &-paleo {
                background-color: $color-yellow-light-1;
            }
        }

        &--title {
            font-size: 2.4rem;
            color: #333;
            font-weight: 600;
            margin-bottom: 3.2rem;
        }

        &--list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &--item {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;
        }

        &--icon {
            width: 2.4rem;
            height: 2.4rem;
            color: $color-primary;
        }
    }

    &__diets {
        &--list {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }

        &--item {
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            gap: 1.6rem;
            span {

            }   
        }

        &--icon {
            width: 3rem;
            height: 3rem;
            color: $color-primary;
        }
    }

    &__allrecipes {
        font-size: 1.8rem;
        text-align: center;

        &--link:link,
        &--link:visited {
            display: inline-block;
            color: $color-primary;
            border-bottom: 1px solid currentColor;
            padding-bottom: 2px;
            transition: all .5s;
        }

        &--link:hover {
            color: $color-primary-dark-1;
            border-bottom: 1px solid transparent;
        }
    }
}