.message {
    grid-column: full-start / full-end;
    background-color: $color-white;
    padding: 7rem 0;

    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

    &__header {
        grid-column: full-start / full-end;
    }

    &__form {
        grid-column: col-start 3 / col-end 10;

        &--group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            label {
                font-size: 2rem;
            }

            input,
            select,
            textarea {
                width: 50%;
                padding: 1rem;

                &::placeholder {
                    font-family: 'Lato';
                    font-size: 2rem;
                }
            }
        }

        &--btn {
            text-align: center;
            input {
                cursor: pointer;
            }
        }
    }
}