.plan {
    grid-column: full-start / full-end;
    background-color: $color-gray-light-2;
    padding: 10rem 0;

    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

    &__header {
        grid-column: full-start / full-end;
    }

    &__boxes {
        grid-column: center-start / center-end;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2rem;
    }

    &__box {
        background-color: $color-white;
        padding: 1.5rem 1.5rem 3rem 1.5rem;

        &--header {
            font-size: 2.5rem;
            text-transform: uppercase;
            color: $color-gray-light-1;
        }

        &--num {
            padding: 1rem 0;
            color: $color-primery;
        }

        &--price {
            font-size: 5rem;
        }

        &--month {
            font-size: 2rem;
        }

        &--paragraph {
            font-size: 1.6rem;
        }

        &--list {
            padding: 3rem 0;
        }

        &--item  {
            font-size: 2rem;
            margin: 1.5rem 0;
            i {
                color: $color-primery;
                margin-right: 1rem;
            }
        }

        &--btn {
            text-align: center;
        }
    }
}