@font-face {
    font-family: 'rajdhani';
    src: url(../assets/fonts/Rajdhani-Medium.ttf);
}

@font-face {
    font-family: 'festive';
    src: url(../assets/fonts/Festive-Regular.ttf);
}

@font-face {
    font-family: 'marckscript';
    src: url(../assets/fonts/MarckScript-Regular.ttf);
}

@font-face {
    font-family: 'sail';
    src: url(../assets/fonts/Sail-Regular.ttf);
}

@font-face {
    font-family: 'bilbo';
    src: url(../assets/fonts/BilboSwashCaps-Regular.ttf);
}

@font-face {
    font-family: 'pattaya';
    src: url(../assets/fonts/Pattaya-Regular.ttf);
}

@font-face {
    font-family: 'zen';
    src: url(../assets/fonts/ZenKurenaido-Regular.ttf);
}