*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;//1rem = 10px
    text-rendering: optimizeLegibility;

    @include respond(big-desktop) {
        font-size: 100%; // 1rem = 16px
    }
}

body {
    background-color: $color-white;
    color: $color-gray-dark-1;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

ul,li{
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: 10rem calc(100vh - 10rem) repeat(8, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 9.5rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];
}