.heading {
    &--primary,
    &--secondary,
    &--tertiary {
        color: $color-gray-dark-2;
        font-weight: 700;
        letter-spacing: -0.5px;
    }

    &--primary {
        font-size: 5.2rem;
        line-height: 1.05;

        @include respond(desktop) {
            font-size: 4.4rem;   
        }
    }

    &--secondary {
        font-size: 4.4rem;

        @include respond(landtablet) {
            font-size: 3.6rem;
        }
    }

    &--tertiary {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 3.2rem;

        @include respond(landtablet) {
            font-size: 2.4rem;
        }
    }
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-primary-dark-1;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: .75rem;
}
